# Application
PORT=3000
NODE_ENV=development

# Redis (Fully Optional)
USE_REDIS=false
REDIS_URL=redis://localhost:6379

# Database
DB_USER=user
DB_PASSWORD=password
DB_NAME=social_db
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}?schema=public&connection_limit=5&pool_timeout=10

# Auth
JWT_SECRET=super_secret_local_key
REFRESH_SECRET=super_secret_local_refresh_key
S2S_API_KEY=local_service_key

# Features
USE_CLUSTER=false
